.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    white-space: nowrap;
    font-size: 0;
}

@media (min-width: 1024px) {
    .slider-container {
        overflow: hidden;
    }
}

.slider-slide {
    scroll-snap-align: center;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: red;
    border-radius: 50%;
}